<app-navbar-style-one></app-navbar-style-one>

<div class=" droid-arabic-kufi">
    <div class="container">
        <div class="page-title-content">
            <h2 class="col2">عن مغاسل
            </h2>

        </div>
    </div>
 
</div>

<div class="team-area pt-100 pb-75 droid-arabic-kufi">
    <div lang="ar" dir="rtl" class="container">
        <div class="container">
            <div class="row">
              <div class="col text">
                مغاسل شركة حلول تقنية لقطاع المغاسل في المملكة العربية السعودية. تأسست عام 2021 وتقدم خدماتها في مدن الخبر والدمام والظهران والرياض. تعمل مغاسل على تطوير منظومة متكاملة للحلول التقنية لتمكين مزودي الخدمة من رفع مستوى الجودة والتحكم في العمليات وإدارتها، وتقليل تكلفة الخدمات بالإضافة إلى تحسين تجربة العميل. حرصاً على جودة الخدمات المقدمة للعملاء، تقوم الشركة بإبرام عقود مع مزودي الخدمة في إطار الوكالة التقنية التجارية (الامتياز التقني) وهو نموذج عمل يطبق لأول مرة في قطاع المغاسل بالمملكة.
              </div>
              <div class="col">
                <img src="assets/img/about.png">
              </div>
            </div>
            
          </div>
    </div>
</div>



<app-footer-style-two></app-footer-style-two>