
<div lang="ar" dir="ltr" class="container pos2 droid-arabic-kufi">
    <div class="section-title">
        <h3 class="text">طريقة العمل
        </h3>
        <p class="text">مع خدمة توصيل بلا تواصل، صار غسيل الملابس أكثر راحة وسهولة
        </p>
    </div>
    
       
</div>
<div class="container droid-arabic-kufi">
<div class="row">
    <div class="col"> <div >
        <div class="single-features-item">
            
            <div class="icon">
                <img class="pos" src="assets/img/box.png" width="40" height="40">
            </div>
          
            <h3 class="text">نرجعها </h3>

        </div>
    </div></div>
    <div class="col"> <div >
        <div class="single-features-item">
            <div class="icon bg2">
                <img class="pos" src="assets/img/washing-machine.png" width="40" height="40">
            </div>
            <h3>نغسّلها </h3>
        </div>
    </div></div>
    <div class="col">    <div >
        <div class="single-features-item">
            <div class="icon bg4">
                <img class="pos" src="assets/img/delivery-man.png" width="40" height="40">
            </div>
            <h3>نستلمها </h3>
        </div>
    </div></div>
    <div class="col"> <div >
        <div class="single-features-item">
            <div class="icon bg3">
                <img class="pos" src="assets/img/sport-wear.png" width="40" height="40">
            </div>
            <h3 class="text1">أطلب استلام الملابس
            </h3>
        </div>
    </div></div>
  </div>
</div>

