<div lang="ar" dir="rtl" class="features-area pos3 ptb-100 bg-F7F7FF droid-arabic-kufi">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="features-content pos4">
                    <ul class="features-list">
                        <h5 class="pos">خدمة توصيل بلا تواصل

                        </h5>

                        <div class="col-lg-8 col-md-12 mt-5 bg ">
                            <div class="faq-accordion accordion ">
                                <accordion >
                                    <accordion-group class="droid-arabic-kufi " heading="
                                                                        بدون اي تواصل مباشر 
                                                                                 ">
                                        عشان راحتك، احصل على شنطة مغاسل وعلّقها على بابك. نستلم ملابسك، نغّسلها، ونوصلها
                                        من دون أي تواصل مباشر مع مندوب التوصيل </accordion-group>
                                    <accordion-group class="droid-arabic-kufi " heading="
                                                                        نوافيك بالمستجدات 
                                                                        ">
                                        نرسلّك تنبيه الى جوالك مع كل خطوة. لا تنسى تفعيل تنبيهات تطبيق مغاسل
                                    </accordion-group>




                                </accordion>
                            </div>
                        </div>
                    </ul>

                </div>
            </div>
            <div lang="ar" dir="rtl" class="col-lg-6 col-md-12 ">
                <div class="features-image text-center">
                    <!--                     <img src="assets/img/service-bg2.svg"  alt="app-img" data-aos="fade-up">
 --> <img src="assets/img/about.png">
                </div>
            </div>
        </div>
    </div>
    <div class="bg-shape1"><img src="assets/img/shape/bg-shape1.png" alt="bg-shape"></div>
</div>


