<div class="main-banner-area bg droid-arabic-kufi">
    <div class="container   ">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="main-banner-content ">
                    <div class="container">
                        <div class="app-download-inner   bg-gray">
                            <div class="row align-items-center ">
                                <div class="col-lg-6 col-md-12">
                                    <div lang="ar" dir="rtl" class="app-download-content">
                                        <h3 lang="ar" dir="rtl" class="sub-title">مع شنطة مغاسل
                                        </h3>
                                        <h2 lang="ar" dir="rtl" class="col">مغسلتك على بابك
                                        </h2>
                                        <p lang="ar" dir="rtl" class="text">ساكن في شقة ودايم تروح للمغسلة؟ لا تفوتك شنطة مغاسل. اضف الشنطة الى طلبك واستمتع بخدمة غسيل مريحة جداً من دون اي تواصل مع مندوب التوصيل ابداً ولا يحتاج تواجدك في شقتك وقت التسليم والاستلام
                    
                                        </p>
                                        <div class="container">
                                            <div class="row">
                                              <div class="col">
                                                <a href="#" class="playstore-btn" target="_blank">
                                                    <img src="assets/img/app-store3.svg"  alt="image">
                                                   
                                                </a>
                                              </div>
                                              <div class="col">
                                                <a href="#" class="applestore-btn" target="_blank">
                                                    <img src="assets/img/google-play3.svg" alt="image">
                                                </a>                                              </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="app-download-image">
                                        <img src="assets/img/banner1.png" alt="app-img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="main-banner-image" data-aos="fade-up" data-aos-duration="2000">
                    <img src="assets/img/banner/banner-app1.png" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="shape-overlay"></div>
    <div class="banner-shape1"><img src="assets/img/shape/shape9.png" alt="image"></div>
    <div class="banner-shape2"><img src="assets/img/shape/shape7.png" alt="image"></div>
    <div class="banner-shape4"><img src="assets/img/shape/shape10.png" alt="image"></div>
    <div class="banner-shape5"><img src="assets/img/shape/shape11.png" alt="image"></div>
</div>