.partner-item {
    text-align: center;

    img {
        width: auto !important;
        display: inline-block !important;
    }
}
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
.droid-arabic-kufi{font-family: 'Droid Arabic Kufi', serif;}
.text{
    margin-bottom: 5%;
    padding-right: 0%;
    margin-bottom: 10%;
   
}
.bg{
    margin-top: -10%;
    margin-bottom: -5%;
}
